@import "./variables";

@mixin page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/images/fondoPizza.webp");
  background-repeat: repeat;
}

@mixin modal {
  position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: rgba($color: #000000, $alpha: 0.5);
	z-index: 10;

  &__main {
		width: 90%;
		padding: 1rem;
		background: #fff;
	}

  &__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid #000;
	}

  &__title {
		font-size: 1.5rem;
	}

  &__close {
		background: none;
		border: none;
		cursor: pointer;
	}

  &__button {
		display: block;
		width: 100%;
		padding: 0.5rem;
		background: #000;
		color: #fff;
		border: 1px solid black;
		border-radius: 0.5rem;
		cursor: pointer;
		font-size: 1rem;
		font-weight: 600;

		&:active{
			background: lighten($color: #000000, $amount: 10%);
		}
	}

	&__alert{
		display: flex;
		gap: .5rem;
		padding: .5rem;
		background: $green;
		color: #fff;
		border-radius: .5rem;
		font-size: .9rem;
	}

	&__alertIco{
		display: block;
		width: 1rem;
		height: auto;
	}

	@media (min-width: 768px) {
		&__main{
			width: 70%;
		}
	}

	@media (min-width: 1024px) {
		&__main{
			width: 50%;
		}
	}
}